POSTGRES_DB=bnpl_dw
POSTGRES_USER=bnpl
POSTGRES_PASSWORD=bnpl_password

HDFS_URI=hdfs://namenode:8020
HDFS_BASE_PATH=/bnpl-data
HDFS_NAMENODE_UI_PORT=9870
HDFS_DATANODE_UI_PORT=9864

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

SPARK_MASTER_URL=spark://spark-master:7077
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2
SPARK_WORKER_REPLICAS=2

HF_DATASET_IDS=electricsheepafrica/africa-synth-banking-bnpl-nigeria,electricsheepafrica/nigerian-banking-personal-loans
BNPL_SOURCE_DATASET_ID=electricsheepafrica/africa-synth-banking-bnpl-nigeria
HF_DATASET_SPLIT=train
INGEST_BATCH_SIZE=50000
INGEST_MAX_ROWS=100000
INGEST_STAGE_REUSE=true
INGEST_OUTPUT_PARTITIONS=4
PIPELINE_REGISTRY_ENABLED=true
MODEL_VERSION=v1
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=bnpl.transactions.raw
KAFKA_TOPIC_PARTITIONS=6
KAFKA_MAX_OFFSETS_PER_TRIGGER=50000
STREAMING_TRIGGER_SECONDS=30
STREAMING_WATERMARK=10 minutes
STREAMING_BRONZE_PATH=bronze/streaming_transactions_v2
STREAMING_REJECTED_PATH=rejected/streaming_transactions_v2
STREAMING_CHECKPOINT_VERSION=v2
STREAMING_MAX_RECORDS_PER_FILE=100000
POSTGRES_WRITE_BATCH_SIZE=1000
ENFORCE_HORIZON_MONOTONICITY=true
FAKE_EVENTS_PER_SECOND=2
FAKE_INVALID_RATE=0.02
FAKE_RANDOM_SEED=42

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
