POSTGRES_DB=bnpl_dw
POSTGRES_USER=bnpl
POSTGRES_PASSWORD=bnpl_password

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=bnpl-data
MINIO_API_PORT=9002
MINIO_CONSOLE_PORT=9001

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

SPARK_MASTER_URL=spark://spark-master:7077
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2
SPARK_WORKER_REPLICAS=2

HF_DATASET_IDS=electricsheepafrica/africa-synth-banking-bnpl-nigeria,electricsheepafrica/nigerian-banking-personal-loans
BNPL_SOURCE_DATASET_ID=electricsheepafrica/africa-synth-banking-bnpl-nigeria
HF_DATASET_SPLIT=train
INGEST_BATCH_SIZE=50000
INGEST_MAX_ROWS=100000
PIPELINE_REGISTRY_ENABLED=true
MODEL_VERSION=v1
KAFKA_BOOTSTRAP_SERVERS=redpanda:9092
KAFKA_TOPIC=bnpl.transactions.raw
FAKE_EVENTS_PER_SECOND=2
FAKE_INVALID_RATE=0.02
FAKE_RANDOM_SEED=42

KAFKA_UI_PORT=8089
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
