POSTGRES_DB=bnpl_dw
POSTGRES_USER=bnpl
POSTGRES_PASSWORD=bnpl_password

HDFS_URI=hdfs://namenode:8020
HDFS_BASE_PATH=/bnpl-data
HDFS_REPLICATION=3
HDFS_NAMENODE_UI_PORT=9870
HDFS_DATANODE_1_UI_PORT=9864
HDFS_DATANODE_2_UI_PORT=9865
HDFS_DATANODE_3_UI_PORT=9866

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

SPARK_MASTER_URL=spark://spark-master:7077
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2
SPARK_WORKER_REPLICAS=2

HF_DATASET_IDS=electricsheepafrica/africa-synth-banking-bnpl-nigeria,electricsheepafrica/nigerian-banking-personal-loans
BNPL_SOURCE_DATASET_ID=electricsheepafrica/africa-synth-banking-bnpl-nigeria
HF_DATASET_SPLIT=train
INGEST_BATCH_SIZE=50000
INGEST_MAX_ROWS=100000
PIPELINE_REGISTRY_ENABLED=true
MODEL_VERSION=v1
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=bnpl.transactions.raw
FAKE_EVENTS_PER_SECOND=2
FAKE_INVALID_RATE=0.02
FAKE_RANDOM_SEED=42

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

STREAMLIT_PORT=8501
